# Ignore build folders
build/

# Ignore binaries
bin/

.cache/

.VSCodeCounter/

entire-workspace.txt

mx_out.s
mx_out.out
mxout

mxout_new.out
mxout_new.s

src/codegen/backend_c
include/codegen/backend_c